/sever/SunshineSever/nbproject/private/
/sever/Test/nbproject/private/
/sever/Test/build/
/sever/project1/build/
/sever/project1/dist/
/sever/ssTest/nbproject/private/
/sever/sunshineBakery/build/
/sever/sunshineBakery/dist/
/sever/sunshineBakery/nbproject/private/
